BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# FMC16 fixed-M0 personality for LCMXO2-4000HC-4TG144C.
# Proven mini FMC link plus PO/PIO observation, PO display and PIO LEDs.
LOCATE COMP "sys_clk" SITE "92" ;
LOCATE COMP "rst_n" SITE "119" ;

# Panel keys in silk-screen order F1..F10.  exp2-01 uses F2..F6 only.
LOCATE COMP "key_in_m0[0]" SITE "9" ;
LOCATE COMP "key_in_m0[1]" SITE "10" ;
LOCATE COMP "key_in_m0[2]" SITE "11" ;
LOCATE COMP "key_in_m0[3]" SITE "12" ;
LOCATE COMP "key_in_m0[4]" SITE "13" ;
LOCATE COMP "key_in_m0[5]" SITE "14" ;
LOCATE COMP "key_in_m0[6]" SITE "15" ;
LOCATE COMP "key_in_m0[7]" SITE "19" ;
LOCATE COMP "key_in_m0[8]" SITE "20" ;
LOCATE COMP "key_in_m0[9]" SITE "21" ;
IOBUF PORT "key_in_m0[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "key_in_m0[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "key_in_m0[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "key_in_m0[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "key_in_m0[4]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "key_in_m0[5]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "key_in_m0[6]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "key_in_m0[7]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "key_in_m0[8]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "key_in_m0[9]" IO_TYPE=LVCMOS33 PULLMODE=UP ;

# Seven-segment display.
LOCATE COMP "heg[0]" SITE "31" ;
LOCATE COMP "heg[1]" SITE "28" ;
LOCATE COMP "heg[2]" SITE "27" ;
LOCATE COMP "heg[3]" SITE "26" ;
LOCATE COMP "heg[4]" SITE "25" ;
LOCATE COMP "heg[5]" SITE "24" ;
LOCATE COMP "heg[6]" SITE "23" ;
LOCATE COMP "heg[7]" SITE "22" ;
LOCATE COMP "sel[0]" SITE "32" ;
LOCATE COMP "sel[1]" SITE "33" ;
LOCATE COMP "sel[2]" SITE "34" ;
LOCATE COMP "sel[3]" SITE "35" ;
LOCATE COMP "sel[4]" SITE "38" ;
LOCATE COMP "sel[5]" SITE "39" ;
LOCATE COMP "sel[6]" SITE "41" ;
LOCATE COMP "sel[7]" SITE "42" ;

# M0 experiment interface. PIO is sampled only and always released by RTL.
LOCATE COMP "LED_out[0]" SITE "43" ;
LOCATE COMP "LED_out[1]" SITE "47" ;
LOCATE COMP "LED_out[2]" SITE "48" ;
LOCATE COMP "LED_out[3]" SITE "54" ;
LOCATE COMP "LED_out[4]" SITE "55" ;
LOCATE COMP "LED_out[5]" SITE "56" ;
LOCATE COMP "LED_out[6]" SITE "57" ;
LOCATE COMP "LED_out[7]" SITE "58" ;
LOCATE COMP "LED_out[8]" SITE "59" ;
LOCATE COMP "LED_out[9]" SITE "60" ;
LOCATE COMP "LED_out[10]" SITE "61" ;
LOCATE COMP "LED_out[11]" SITE "62" ;
LOCATE COMP "PIO[0]" SITE "63" ;
LOCATE COMP "PIO[1]" SITE "67" ;
LOCATE COMP "PIO[2]" SITE "68" ;
LOCATE COMP "PIO[3]" SITE "69" ;
LOCATE COMP "PIO[4]" SITE "73" ;
LOCATE COMP "PIO[5]" SITE "74" ;
LOCATE COMP "PIO[6]" SITE "75" ;
LOCATE COMP "PIO[7]" SITE "76" ;
LOCATE COMP "PIO[8]" SITE "77" ;
LOCATE COMP "PIO[9]" SITE "78" ;
LOCATE COMP "PIO[10]" SITE "81" ;
LOCATE COMP "PIO[11]" SITE "82" ;
LOCATE COMP "PIO[12]" SITE "83" ;
LOCATE COMP "PIO[13]" SITE "84" ;
LOCATE COMP "PIO[14]" SITE "85" ;
LOCATE COMP "PIO[15]" SITE "86" ;
LOCATE COMP "PO[0]" SITE "87" ;
LOCATE COMP "PO[1]" SITE "93" ;
LOCATE COMP "PO[2]" SITE "94" ;
LOCATE COMP "PO[3]" SITE "95" ;
LOCATE COMP "PO[4]" SITE "96" ;
LOCATE COMP "PO[5]" SITE "97" ;
LOCATE COMP "PO[6]" SITE "98" ;
LOCATE COMP "PO[7]" SITE "99" ;
LOCATE COMP "PO[8]" SITE "100" ;
LOCATE COMP "PO[9]" SITE "103" ;
LOCATE COMP "PO[10]" SITE "104" ;
LOCATE COMP "PO[11]" SITE "105" ;
LOCATE COMP "PO[12]" SITE "106" ;
LOCATE COMP "PO[13]" SITE "107" ;
LOCATE COMP "PO[14]" SITE "109" ;
LOCATE COMP "PO[15]" SITE "110" ;
LOCATE COMP "PO[16]" SITE "111" ;
LOCATE COMP "PO[17]" SITE "112" ;
LOCATE COMP "PO[18]" SITE "113" ;
LOCATE COMP "PO[19]" SITE "114" ;
LOCATE COMP "PO[20]" SITE "115" ;
LOCATE COMP "PO[21]" SITE "1" ;
LOCATE COMP "PO[22]" SITE "137" ;
LOCATE COMP "PO[23]" SITE "121" ;
LOCATE COMP "PO[24]" SITE "122" ;
LOCATE COMP "PO[25]" SITE "127" ;
LOCATE COMP "PO[26]" SITE "128" ;
LOCATE COMP "PO[27]" SITE "132" ;
LOCATE COMP "PO[28]" SITE "133" ;
LOCATE COMP "PO[29]" SITE "138" ;
LOCATE COMP "PO[30]" SITE "139" ;
LOCATE COMP "PO[31]" SITE "140" ;

# FMC16 asynchronous data and controls.
LOCATE COMP "fmc_db[0]" SITE "2" ;
LOCATE COMP "fmc_db[1]" SITE "3" ;
LOCATE COMP "fmc_db[2]" SITE "4" ;
LOCATE COMP "fmc_db[3]" SITE "5" ;
LOCATE COMP "fmc_db[4]" SITE "6" ;
LOCATE COMP "fmc_db[5]" SITE "17" ;
LOCATE COMP "fmc_db[6]" SITE "52" ;
LOCATE COMP "fmc_db[7]" SITE "65" ;
LOCATE COMP "fmc_db[8]" SITE "70" ;
LOCATE COMP "fmc_db[9]" SITE "89" ;
LOCATE COMP "fmc_db[10]" SITE "117" ;
LOCATE COMP "fmc_db[11]" SITE "125" ;
LOCATE COMP "fmc_db[12]" SITE "126" ;
LOCATE COMP "fmc_db[13]" SITE "141" ;
LOCATE COMP "fmc_db[14]" SITE "142" ;
LOCATE COMP "fmc_db[15]" SITE "143" ;
LOCATE COMP "fmc_ne1_n" SITE "50" ;
LOCATE COMP "fmc_noe_n" SITE "136" ;
LOCATE COMP "fmc_nwe_n" SITE "131" ;
LOCATE COMP "fmc_nwait_unused" SITE "130" ;
LOCATE COMP "fmc_clk_unused" SITE "91" ;

# 3.3-V electrical constraints.
IOBUF PORT "sys_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sel[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sel[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sel[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sel[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sel[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sel[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sel[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sel[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "heg[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "heg[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "heg[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "heg[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "heg[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "heg[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "heg[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "heg[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_out[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_out[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_out[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_out[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_out[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_out[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_out[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_out[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_out[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_out[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_out[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_out[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PIO[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIO[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIO[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIO[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIO[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIO[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIO[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIO[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIO[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIO[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIO[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIO[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIO[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIO[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIO[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PIO[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PO[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[9]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[10]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[11]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[12]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[13]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[14]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[15]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[16]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[17]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[18]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[19]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[20]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[21]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[22]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[23]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[24]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[25]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[26]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[27]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[28]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[29]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[30]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PO[31]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "fmc_db[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_db[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_db[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_db[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_db[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_db[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_db[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_db[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_db[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_db[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_db[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_db[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_db[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_db[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_db[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_db[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "fmc_ne1_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "fmc_noe_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "fmc_nwe_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "fmc_nwait_unused" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "fmc_clk_unused" IO_TYPE=LVCMOS33 ;

FREQUENCY PORT "sys_clk" 50.000000 MHz ;

# JTAG pins become user I/O after configuration; assert JTAGENB in hardware to program.
SYSCONFIG JTAG_PORT=DISABLE MUX_CONFIGURATION_PORTS=ENABLE ;
